@font-face {
  font-family: "Soleto regular";
  src: url("fonts/Dalton Maag - Soleto.ttf");
}
@font-face {
  font-family: "Soleto light";
  src: url("fonts/Dalton Maag - Soleto Light.ttf");
}
@font-face {
  font-family: "Soleto medium";
  src: url("fonts/Dalton Maag - Soleto Medium.ttf");
}
@font-face {
  font-family: "Soleto XBold";
  src: url("fonts/Dalton Maag - Soleto XBold.ttf");
}
.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.hide {
  display: none;
}

body {
  font-family: "Soleto regular", sans-serif;
  background-color: #150028;
  color: #f0f0f0;
  flex-direction: column;
  flex-wrap: nowrap;
}

a {
  color: #f0f0f0;
}

a:hover {
  color: #dd0890;
  text-decoration: none;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
  z-index: 100;
  width: 100%;
}

nav {
  padding-top: 2rem;
  align-items: baseline;
  font-size: 1.2rem;
}
nav .brand {
  height: 48px;
}
nav ul {
  list-style: none;
}
nav ul li {
  padding-right: 2rem;
}

main {
  padding-top: 4rem;
}
main header {
  width: 100%;
}

.product {
  margin: 0 1rem;
  background-color: rgba(221, 8, 144, 0.1);
}

.product-section {
  padding-top: 2rem;
}

.product-header {
  padding-top: 1rem;
}

.product-image {
  opacity: 0.9;
  filter: grayscale(0.4);
}

.product-footer {
  justify-content: space-between;
  padding: 0.4rem;
  align-items: start;
}

.product-price {
  font-family: "Soleto medium", sans-serif;
  font-weight: 600;
}

.product-button {
  background-color: #dd0890;
  width: 50%;
  border: none;
  color: #f0f0f0;
  border-radius: 2px;
}

.page-header {
  font-family: "Soleto XBold", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 4rem;
}

.page-lead {
  font-family: "Soleto light", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #f0f0f0c2;
}

footer {
  margin-top: auto;
  padding-top: 4rem;
}

/* parallax jox */
.parallax-container {
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax-container-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  .parallax-container {
    display: none;
  }
}
.bg_layer1 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 553px;
  z-index: 3;
  min-width: 965px;
  background-image: url("../img/layer_1.png");
}

.bg_layer2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  min-height: 289px;
  z-index: 5;
  min-width: 690px;
  left: 136px;
  top: 131px;
  background-image: url("../img/layer_2.png");
}

.bg_layer3 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  min-height: 230px;
  z-index: 12;
  min-width: 576px;
  top: 160px;
  left: 194px;
  background-image: url("../img/layer_3.png");
}

/*# sourceMappingURL=style.css.map */
